button {
    display: inline-block;
    padding: 0.85em 1em;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
